<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible-it Donation Information</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" />
</head>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Bible-it.com</a>
    </nav>
    <br>
    <div class="container mt-1 justify-content-center text-center">
        <h2><strong>Why Donate to Bible-it</strong></h2>
    </div>
    <br>

    <div class="container">

        <div>
            <h4>Bible-it donations are used to:</h4>
            </br>
            <strong>Keep the service available to everyone around the world </strong>

            <div class="container">
                </br>
                As the service and demand on the system grows, more powerful hardware and infrastructures are required
                to
                keep up with the
                stress the system could face. Funds from the donations will be used to support these new demands.

            </div>
        </br>
        <strong>Bring the Bible-it service to as many countries and languages possible</strong>

        <div class="container">
            </br>
            The word of God is immeasurable in value and is a guide to salvation. Funds from donations will be used
            to
            bring the service to as many nations and
            langues possible, with the best quality God allows for.
        </div>
            </br>
            <strong>Continually develop and enhance current and new features to improve the Bible-it service</strong>

            <div class="container">
                </br>
                Bible-it at its core brings answers to relevant questions that Christ followers and others who want to
                know
                of Gods word may have. Funds from
                donations will be used to support the people who develop, improve, inspect, and validate the information
                presented by this service, guided by the
                Holy Spirit through the name of Jesus Christ our Lord.
            </div>

            </br>
            <strong>Implement new and top technologies for the use of God's kingdom</strong>

            <div class="container">
                </br>
                Technology helps bring information to the entire world, it is vastly impressive and has great potential
                to
                be used for good. Funds from
                donations will be used to guide and implement top technologies for the service of God and his kingdom.
            </div>
            </br>
            </br>
            Thank you for your consideration and donations to Bible-it. God bless you.
        </div>

    </div>

    <div class="container justify-content-center text-center">
        <br>
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/donationForm';">Donate</button>
    </div>
    <br>
    <br>
    <br>
    <br>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>