<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <title>Bible-it Donation Form</title>
    </title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">Bible-it.com</a>
    </nav>

    <div class="container pt-1" id="inputContainer">

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <h3>Bible-it Donation Form</h3>

                <hr>
                <br>

                <form>
                    <div class="form-group row">

                        <!-- first name -->
                        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstName" value="testFName">
                        </div>
                    </div>

                    <!-- last name -->
                    <div class="form-group row">

                        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastName" value="testLName">
                        </div>
                    </div>

                    <!-- email  -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="email">Email Address</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" value="testEmail">
                        </div>
                    </div>

                    <!-- phone number  -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="phone">Phone Number</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="tel" id="phone" name="phone"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="323-383-3833">
                        </div>
                    </div>

                    <!-- Amount  -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="amount">Amount</label>
                        <div class="col-sm-7">
                            <input id="amount" class="form-control" type="number" min="0.00" max="1000000.00"
                                step="0.01" placeholder="$" value="30000">
                        </div>
                        <div class="col-sm-2">
                            USD
                        </div>
                    </div>

                    <!-- comment  -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="comment">Comment</label>
                        <div class="col-sm-8">
                            <textarea id="comment" class="form-control" rows="3">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut commodi sit, consequuntur earum unde alias, aliquid omnis facilis, officia neque iste ex voluptas libero. Culpa vitae consequatur distinctio repellat? Voluptas earum eum voluptatem a quam, atque quibusdam! Doloribus labore laborum autem! Nesciunt et illum totam tenetur saepe aliquam, beatae corporis.
                            </textarea>
                        </div>
                    </div>

                    <!-- submit  -->
                    <div class="form-group row pt-1">
                        <label class="col-sm-2 col-form-label" for="submit"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" id="donateButton">Process Donation</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let stripe = Stripe("pk_test_gvpPK104YTOw1IUj773jddt8006MgjFEbN");
        let donateButton = document.getElementById("donateButton");
        let fName = document.getElementById("firstName");
        let lName = document.getElementById("lastName");
        let email = document.getElementById("email");
        let phoneN = document.getElementById("phone");
        let amount = document.getElementById("amount");
        let comment = document.getElementById("comment");

        // donateButton.addEventListener('click', function(event){

        //     event.preventDefault();
        //     stripe.redirectToCheckout({
        //         sessionId: sessionId
        //     });
        // });

        let sessionId;

        // axios.post(`/api/createSession?fName=${fName.value}
        // &lName=${lName.value}
        // &email=${email.value}
        // &phoneN=${phoneN.value}
        // &amount=${amount.value}
        // &comment=${comment.value}`)
        //     .then((response)=>{
        //         sessionId = response.data.clientSecretId;
        //     });

        donateButton.addEventListener('click', function (event) {
            axios.post(`/api/createSession?fName=${fName.value}
            &lName=${lName.value}
            &email=${email.value}
            &phoneN=${phoneN.value}
            &amount=${amount.value}
            &comment=${comment.value}`)
                .then((response) => {
                    sessionId = response.data.clientSecretId;
                })
                .then((event) => {
                    event.preventDefault();
                    stripe.redirectToCheckout({
                        sessionId: sessionId
                    });
                });
        })
    </script>

</body>

</html>