<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible-it</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">Bible-it.com</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>

    <div class="container pt-5" id="inputContainer">

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <!-- Main column -->
                <div class="row">
                    <div class="col-2">
                        <div class="bottom">
                            <div th:attr="data-voice=${voice}">
                                <i class="fa fa-volume-off fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 justify-content-center text-center">
                        <h1 class="display-4">Bible-It</h1>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <!-- Search Box -->
                    <div class="col">
                        <!-- With no search bar -->
                        <div class="m-0">
                            <input id="searchInput" class="form-control input-lg mt-3" type="search" size='30'
                                name='word' autocomplete="off" onkeyup="echoWord()" autocorrect="off"
                                autocapitalize="none">

                            <div id="parentPreview">
                                <div id="previewDiv" class="search-bar-results"></div>
                                <div id="backgroundDiv"></div>
                            </div>
                            <!-- <button input class="btn btn-primary btn-lg mt-4" onclick="getQuestion()">Bibleit</button> -->
                        </div>
                    </div>
                </div>

                <!-- end of Main column -->

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </div>

    <div class="container">

        <div id="answerCard" class="card border-dark mt-5" style="visibility: hidden;">

            <div class="card-body">
                <blockquote class="blockquote">
                    <p id="cardAnswer"></p>
                    <footer id="cardBibleRef" class="blockquote-footer"><cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <div id="cardContainer" class="pt-4 pb-5">

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>

</html>