<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <title>Bible-it Donation Confirmation</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">Bible-it.com</a>
    </nav>

    <div class="container pr-5 pl-5">
        <div class="container border mt-5">
            <div class="pt-5">

                <div class="row">
                    <div class="col">
                        <h4>
                            <strong>Bible-It Donation</strong>
                        </h4>
                    </div>

                    <div class="col text-right text-success">
                        <h4>
                            <strong>
                                COMPLETE
                            </strong>
                        </h4>
                    </div>

                </div>
                <ul class="list-group pt-3 pb-5">
                    <li class="list-group-item">Amount:</li>
                    <li class="list-group-item">First Name:</li>
                    <li class="list-group-item">Last Name:</li>
                    <li class="list-group-item">Phone:</li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">Confirmation:</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>