<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <title>Bible-it Donation Confirmation</title>
    <link rel="stylesheet" href="../static/css/success.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">Bible-it.com</a>
    </nav>

    <div class="container pr-5 pl-5">
        <div class="container border mt-5">
            <div class="pt-5">

                <div class="row">
                    <div class="col">
                        <h4>
                            <strong>Bible-It Donation Payment</strong>
                        </h4>
                    </div>

                    <div class="col text-right text-success">
                        <h4>
                            <strong>
                                COMPLETE
                            </strong>
                        </h4>
                    </div>

                </div>
                <ul class="list-group pt-3 pb-5">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Date:</strong>
                            </div>
                            <div class="col-md-auto">
                                08/20/2020
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>First Name:</strong>
                            </div>
                            <div class="col-md-auto">
                                Ricardo
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Last Name:</strong>
                            </div>
                            <div class="col-md-auto">
                                Carballo
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Phone Number:</strong>
                            </div>
                            <div class="col-md-auto">
                                323-273-2833
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-md-auto">
                                rcarbaleq2@gmail.com
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Amount:</strong>
                            </div>
                            <div class="col-md-auto">
                                $ <span>200.00</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Comment:</strong>
                            </div>
                            <div class="col-md-auto">
                                Lorem ipsum dolor sit amet.
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>BDN:</strong>
                            </div>
                            <div class="col-md-auto" id="donationNum">
                                cs_test_RK5uvZEiF3PpIPlI8FK3o829LvOWaFozZ1WyZsvNQQ070cJAgxVlBGZn
                            </div>
                        </div>
                    </li>
                </ul>

                <h1 class="text-center pb-5">Thank you for your donation to Bible-it</h1>
            </div>

            
            <div class="d-flex justify-content-center pb-5">
                <a class="btn btn-primary btn-lg" href="/" role="button">Okay</a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>