<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <title>Bible-it Donation Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/success.css}" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">Bible-it.com</a>
    </nav>

    <div class="container pr-5 pl-5">
        <div class="container border mt-5">
            <div class="pt-5">

                <div class="row">
                    <div class="col">
                        <h4>
                            <strong>Bible-It Donation Payment</strong>
                        </h4>
                    </div>

                    <div class="col text-right text-success">
                        <h4>
                            <strong id="status">
                                N/A
                            </strong>
                        </h4>
                    </div>

                </div>
                <ul class="list-group pt-3 pb-5">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Date:</strong>
                            </div>
                            <div class="col-md-auto" id="date">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>First Name:</strong>
                            </div>
                            <div class="col-md-auto" id="first_name">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Last Name:</strong>
                            </div>
                            <div class="col-md-auto" id="last_name">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Phone Number:</strong>
                            </div>
                            <div class="col-md-auto" id="phone_number">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-md-auto" id="email">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Amount:</strong>
                            </div>
                            <div class="col-md-auto">
                                $ <span id="amount">
                                    N/A
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>Comment:</strong>
                            </div>
                            <div class="col-md-auto" id="comment">
                                N/A
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <strong>BDN:</strong>
                            </div>
                            <div class="col-md-auto" id="sessionId">
                                N/A
                            </div>
                        </div>
                    </li>
                </ul>

                <h1 class="text-center pb-5">Thank you for your donation to Bible-it</h1>
            </div>

            
            <div class="d-flex justify-content-center pb-5">
                <a class="btn btn-primary btn-lg" href="/" role="button">Okay</a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
        let url = window.location.search;
        let params = new URLSearchParams(url);
        let dateResponse = document.getElementById("date");

        let status = document.getElementById("status")
        let firstName = document.getElementById("first_name");
        let lastName = document.getElementById("last_name");
        let phoneNumber = document.getElementById("phone_number");
        let email = document.getElementById("email");
        let amount = document.getElementById("amount");
        let comment = document.getElementById("comment");
        let donationNumber = document.getElementById("sessionId");


        axios.get('/api/v1/payment/donationSession?session_id=' + params.get('session_id'))
            .then((response) => {
                console.log(response);

                const donation = response.data.donation;
                const person = response.data.person;

                if (donation.timeStamp) dateResponse.innerHTML = donation.timeStamp;
                if (donation.comment) comment.innerHTML = donation.comment;
                if (donation.sessionId) donationNumber.innerHTML = donation.sessionId;
                if (donation.status){
                    
                    status.innerHTML = donation.status.toUpperCase();
                } 
                if (donation.amount) amount.innerHTML = `${donation.amount}`;
                if (person.email) email.innerHTML = person.email;
                if (person.firstName) firstName.innerHTML = person.firstName;
                if (person.lastName) lastName.innerHTML = person.lastName;
                if (person.phoneNumber) phoneNumber.innerHTML = person.phoneNumber;
            });
    </script>

</body>

</html>